.item {
    margin-top: 50px;
    .left {
        border-radius: 8px;
        background: rgba(130, 129, 146, 0.20);
        padding: 10px 15px;
        transition: .3s ease-in-out;
        user-select: none;
        .img {
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
        .footer {
            margin-top: 10px;
            .rightfooter {
                p {
                    margin-right: 10px;
                }
                svg {
                    font-size: 27.5px;
                    margin-right: 3px;
                }
            }
            .logo {
                height: 40px;
                width: 40px;
                background-color: black;
                padding: 3px;
                border-radius: 50%;
            }
            .names {
                margin-left: 10px;
                p:last-child {
                    color: rgba(255, 255, 255, 0.397);
                    font-size: 12.5px;
                }
            }
        }
    }
    .left:hover {
        transform: scale(1.01);
    }
    .right {
        margin-left: 25px;
        .title {
            p {
                font-size: 30px;
            }
        }
        .text {
            max-width: 650px;
            color: rgb(255, 255, 255);
            margin-top: 10px;
        }
    }
}
.item:first-child {
    margin-top: 10px;
}